### MySQL Database
- Create database
- Create table
- Write data to table
- Read data from table
- Update data to table
- Delete data from table

In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\karan\appdata\local\programs\python\python36\lib\site-packages (8.0.15)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\karan\appdata\local\programs\python\python36\lib\site-packages (from mysql-connector-python) (3.7.0)
Requirement already satisfied: six>=1.9 in c:\users\karan\appdata\local\programs\python\python36\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.12.0)
Requirement already satisfied: setuptools in c:\users\karan\appdata\local\programs\python\python36\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (39.0.1)

You are using pip version 19.0.3, however version 20.1b1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

### Connect with MySQL Server

In [2]:
import mysql.connector
mydb = mysql.connector.connect( host="localhost",user="root",passwd="")

### Create Database

In [4]:
mycursor = mydb.cursor()
mycursor.execute("create database itronix")

### Create Table

In [5]:
import mysql.connector
mydb = mysql.connector.connect( host="localhost",user="root",passwd="",database='itronix')
mycursor = mydb.cursor()
mycursor.execute("create table student(name VARCHAR(255), address VARCHAR(255), Phone int)")

### Write

In [8]:
a=input("Enter Name")
b=input("Enter Address")
c=input("Enter Phone No")
mycursor = mydb.cursor()
sql = "INSERT INTO student (name, address, Phone) VALUES (%s, %s, %s)"
val = (a,b,c)
mycursor.execute(sql, val)
mydb.commit()
print(mycursor.rowcount, "record inserted.")

Enter Namexyz
Enter Addressqqq
Enter Phone No766
1 record inserted.

### read

In [12]:
mycursor = mydb.cursor()
mycursor.execute('select * from student')
myresult = mycursor.fetchall()
print (myresult)

[('def', 'chd', 4321), ('xyz', 'qqq', 766)]

### where

In [14]:
mycursor = mydb.cursor()
mycursor.execute("select * from student where name='abc'")
myresult = mycursor.fetchall()
print (myresult)

[]

### delete

In [15]:
mycursor = mydb.cursor()
sql = "DELETE FROM student WHERE name = 'abc'"
mycursor.execute(sql)
mydb.commit()
print(mycursor.rowcount, "record(s) deleted")

0 record(s) deleted

### update

In [16]:
mycursor = mydb.cursor()
sql = "UPDATE student SET name = 'itronix' WHERE name = 'def'"
mycursor.execute(sql)
mydb.commit()
print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

In [17]:
import mysql.connector
mydb = mysql.connector.connect( host="sql122.main-hosting.eu",user="u329364131_karan",passwd="Itronix@123",database='u329364131_karan')
mycursor = mydb.cursor()
mycursor.execute("create table student(name VARCHAR(255), address VARCHAR(255), Phone int)")