<img src="images/Er Karan Arora.jpg" align='left'>

### Patterns in Python: Nested For Loop

In [8]:
for i in range(1,6,1):
    for j in range(1,6,1):
        print("hi",end=' ')
    print()

hi hi hi hi hi
hi hi hi hi hi
hi hi hi hi hi
hi hi hi hi hi
hi hi hi hi hi

In [ ]:
hi
hi hi
hi hi hi
hi hi hi hi 
hi hi hi hi hi

In [16]:
for i in range(1,6,1):
    for j in range(1,i+1,1):
        print("Hi",end=' ')
    print()

Hi
Hi Hi
Hi Hi Hi
Hi Hi Hi Hi
Hi Hi Hi Hi Hi

### Pattern 1

In [ ]:
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [34]:
for i in range(1,6,1):
    for j in range(1,i+1,1):
        print(j,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

### Reverse loop

In [22]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

### Pattern 2

In [ ]:
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [24]:
for i in range(1,6,1):
    for j in range(i,0,-1):
        print(j,end=' ')
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

### Pattern 3

In [ ]:
5 4 3 2 1 
4 3 2 1 
3 2 1 
2 1 
1

In [25]:
for i in range(5,0,-1):
    for j in range(i,0,-1):
        print(j,end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

### Pattern 4

In [ ]:
1 2 3 4 5 
2 3 4 5 
3 4 5 
4 5 
5

In [26]:
for i in range(1,6,1):
    for j in range(i,6,1):
        print(j,end=' ')
    print()

1 2 3 4 5
2 3 4 5
3 4 5
4 5
5

### Pattern 5

In [ ]:
        1 
      2 1 
    3 2 1 
  4 3 2 1
5 4 3 2 1

In [29]:
for i in range(1,6,1):
    for k in range(5,i,-1):
        print(" ",end=' ')
    for j in range(i,0,-1):
        print(j,end=' ')
    print()

        1
      2 1
    3 2 1
  4 3 2 1
5 4 3 2 1

### Pattern 6

In [ ]:
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [32]:
k=1
for i in range(1,6,1):
    for j in range(1,i+1,1):
        print(k,end=' ')
        k=k+1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

### Pattern 7

In [ ]:
        1 
      1 2 1 
    1 2 3 2 1 
  1 2 3 4 3 2 1 
1 2 3 4 5 4 3 2 1

In [38]:
for i in range(1,6,1):
    for k in range(5,i,-1):
        print(" ",end=' ')
    for j in range(1,i+1,1):
        print(j,end=' ')
    for l in range(i-1,0,-1):
        print(l,end=' ')
    print()

        1
      1 2 1
    1 2 3 2 1
  1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [39]:
for i in range(1,6,1):
    for k in range(5,i,-1):
        print(" ",end=' ')
    for j in range(1,i+1,1):
        print("*",end=' ')
    for l in range(i-1,0,-1):
        print("*",end=' ')
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

### Pattern 8

In [ ]:
* * * * * * * * * * 
* * * *     * * * * 
* * *         * * * 
* *             * * 
*                 *

In [44]:
for i in range(5,0,-1):
    for j in range(1,i+1,1):
        print("*",end=' ')
    for k in range(5,i,-1):
        print("   ",end=' ')
    for j in range(1,i+1,1):
        print("*",end=' ')
    print()

* * * * * * * * * *
* * * *     * * * *
* * *         * * *
* *             * *
*                 *

### Pattern 9

In [ ]:
* * * * * 
*       * 
*       * 
*       * 
* * * * *

In [50]:
for i in range(1,6,1):
    for j in range(1,6,1):
        if i==1 or i==5:
            print("*",end=' ')
        else:
            if j==1 or j==5:
                print("*",end=' ')
            else:
                print(" ",end=' ')
    print()

* * * * *
*       *
*       *
*       *
* * * * *

### Pattern 10

In [ ]:
A 
A B 
A B C 
A B C D 
A B C D E 
A B C D E F 
A B C D E F G 
A B C D E F G H 
A B C D E F G H I 
A B C D E F G H I J 
A B C D E F G H I J K 
A B C D E F G H I J K L 
A B C D E F G H I J K L M 
A B C D E F G H I J K L M N 
A B C D E F G H I J K L M N O 
A B C D E F G H I J K L M N O P 
A B C D E F G H I J K L M N O P Q 
A B C D E F G H I J K L M N O P Q R 
A B C D E F G H I J K L M N O P Q R S 
A B C D E F G H I J K L M N O P Q R S T 
A B C D E F G H I J K L M N O P Q R S T U 
A B C D E F G H I J K L M N O P Q R S T U V 
A B C D E F G H I J K L M N O P Q R S T U V W 
A B C D E F G H I J K L M N O P Q R S T U V W X 
A B C D E F G H I J K L M N O P Q R S T U V W X Y 
A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

In [59]:
ord('Z')

90

In [57]:
chr(65)

'A'

In [61]:
for i in range(ord('A'),ord('Z')+1,1):
    for j in range(ord('A'),i+1,1):
        print(chr(j),end=' ')
    print()

A
A B
A B C
A B C D
A B C D E
A B C D E F
A B C D E F G
A B C D E F G H
A B C D E F G H I
A B C D E F G H I J
A B C D E F G H I J K
A B C D E F G H I J K L
A B C D E F G H I J K L M
A B C D E F G H I J K L M N
A B C D E F G H I J K L M N O
A B C D E F G H I J K L M N O P
A B C D E F G H I J K L M N O P Q
A B C D E F G H I J K L M N O P Q R
A B C D E F G H I J K L M N O P Q R S
A B C D E F G H I J K L M N O P Q R S T
A B C D E F G H I J K L M N O P Q R S T U
A B C D E F G H I J K L M N O P Q R S T U V
A B C D E F G H I J K L M N O P Q R S T U V W
A B C D E F G H I J K L M N O P Q R S T U V W X
A B C D E F G H I J K L M N O P Q R S T U V W X Y
A B C D E F G H I J K L M N O P Q R S T U V W X Y Z